/* START LEFT SIDEBAR */
.label {
    color: #efefef; /* SIDEBAR TEXT COLOR*/
}
.top {/*logo Top section*/
     margin-bottom: 20px;
     left: 0;
     right: 0;
}
.sidebar a {
    text-decoration: none;   /* remove underline */
    color: inherit;          /* keep original text color */
}
.sidebar a:hover {
    text-decoration: none;
}

    /* SIDEBAR BACKGROUND COLOR */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0); /* transparent */
    transition: background 0.3s ease;
    pointer-events: none;
    z-index: 900;
}
.sidebar:hover ~ .overlay {
    background: rgba(0,0,0,0.4);
}   /* ENDSIDEBAR BACKGROUND COLOR */


.sidebar { /* solid sidebar style */
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 70px;
    background: #435663;
    z-index: 1000;
    transition: width 0.3s ease;
    border: 1px solid #647886
}

.sidebar:hover { /* EXPANDED SIDEBAR WIDTH */
    width: 200px;
}

.menu-item {/* MENU ITEM STYLE */
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px 18px;
    cursor: pointer;
    font-size: 18px;
    white-space: nowrap;
    box-sizing: border-box;
    width: 100%;
}
    .menu-item:hover {/* HOVER EFFECT */
    background: #a3b087;
}

.menu-item .icon {/* ICON SIZE */
    font-size: 25px;
}
    /* LABEL (TEXT) */
.menu-item .label {
    opacity: 0;                       /* hidden at start */
    transition: opacity 0.2s ease 0.1s;
    pointer-events: none;
}
    /* SHOW TEXT ONLY WHEN EXPANDED */
.sidebar:hover .label {
    opacity: 1;
}

.bottom {/* ABOUT SECTION*/
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

/*No color gray when sidebar not hovered */
.sidebar:not(:hover) .menu-item {
    background: transparent;
}
/*
Source - https://stackoverflow.com/a
Posted by Manish Menaria, modified by community. See post 'Timeline' for change history
Retrieved 2025-11-23, License - CC BY-SA 4.0
*/

.color {
    filter: brightness(0) invert(1);
}
.title{
    font-size: 18;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* END OF SIDE BAR */